.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 1rem;
    width: 43.5%;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input {
      width: 45%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  .link {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    margin-top: 1rem;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  